@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 85vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: radial-gradient(#0f172a 1px,transparent 0),radial-gradient(#0f172a 1px,transparent 0);
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.container {
    background-color: #222939;
    min-height: 43vh;
    margin-top: 10rem;
    background-image: url(../images/bg-image-random-quote.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.h-and-buttons {
    margin-top: 3rem;
}
h2 {
    margin-bottom: 1rem;
}
h1 {
    margin: 0rem 2rem 0rem 2rem;
}
.butt {
    margin-bottom: 3rem;
    padding: 0.4rem 1rem;
    border: 2px solid #524bd6;
    background: transparent;
    color: #6565e1;
    font-family: 'Sora', sans-serif;
    border-radius: 50px;
}
/* button:hover {
    border: 2px solid #d6c64b;
    color: #d6c64b;
} */
button:hover {
  transition: 0.5s ease-in-out;
  background: #4fda5b;
  color: white;
}
#famous-quotes {
    margin-right: 0.8rem;
}

.images {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid #4c55659b;
    margin: 1.5rem 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

img {
    width: 55px;
    height: auto;
}
.share{
    padding-right: 1rem;
    border-right: 2px solid #4c5565a6;
}
.copy {
    padding-left: 1rem;
}



@media screen and (min-width: 720px) {
}